.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    width: 736px;
    margin: 0 auto;
}

.newTaskBar {
    display: flex;
    margin-top: -2rem;
}

.newTaskBar input {
    width: 638px;
    height: 56px;
    background: var(--gray-500);
    color: var(--gray-300);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
}

.newTaskBar .btnAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 56px;
    margin-left: 0.5rem;
    border-radius: 8px;
    background: var(--blue-dark);
    color: var(--gray-100);
    gap: 0.5rem;
    cursor: pointer;
    transition: background 0.2s;
    border: 0;
}

.newTaskBar .btnAdd:hover {
    background: var(--blue);
}

/* INFO CONTENT TASK */
.contentInfoTasks {
    width: 736px;
    margin: 4rem auto 1.5rem auto;
    display: flex;
    justify-content: space-between;
}

.infoTasks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.infoTasks span,
p {
    font-weight: bold;
    font-size: 0.875rem;
}

.infoTasks .firstSpan {
    color: var(--blue);
}

.secondSpan {
    color: var(--purple);
}

.infoTasks p {
    padding: 2px 1rem;
    background: var(--gray-400);
    border-radius: 50px;
    color: var(--gray-200);
}